/* Modelo de caixas - CSS */
.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  .width-and-height {height: 50px; width: 50px;}
  .padding {padding: 20px;}
  .margin {margin: 30px;}
  .border {border: 5px solid black;}

/* Posicionamento de elementos */
.super-mario{
  width: 200px;
  position: absolute; 
  top: 100px;
  z-index: 2;
}
.goomba{
  width: 200px;
  position: absolute;
  top:370px;
  z-index: 1;
}
p {
  position: absolute;
  top: 100px;
  left:305px;
  z-index: 2;
}
.baloon{
  width: 175px;
  position:absolute; 
  z-index: 1;
  left: 300px;
}