h1{color:orange; font-size:65px;}
ul{background-color: blue;}
.change-color{background-color:purple}
h1{font-family: sans-serif; line-height: 5px;}
p{font-weight: 600; font-size: 3em; text-decoration: underline;}
body{font-size: 16px; font-style: italic;}
#amarelo{background-color: yellow;}
#vermelho{background-color: red;}
#marrom{background-color: brown;}